.container {
    background-color: #d4ffff;
    margin: 0;
}

.link {
    background-color: #3951c6;
    display: flex;
    justify-content: start;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}